$bgColor: #17212b;
$bgColorHover: #34414e;
$bgColorBlack: #0e1621;
$messageActive: #2b5278;
$colorBlue: #242f3d;
$messageText: #7f91a4;
$messageLastMessage: #48a2f5;
body{
    margin: 0;
    padding: 0;
    background-color: $bgColor;
    font-family: 'Segoe UI', sans-serif;
}
.container{
    overflow: hidden;
    height: 100vh;
}
.window{
    display: flex;
    height: 100vh;
}
.navigation{
    width: 80px;
    min-width: 50px;
    background-color: $bgColorBlack;
    position: relative;
    max-width: 100px;
}
.nav{
    text-align: center;
}
.nav-items{
    color: #7f91a4;
    padding: 0;
}
.nav-item{
    list-style: none;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    cursor: pointer;
    padding: 5px 0;
    
}
.nav-item__icon{
    font-size: 24px;
}
.nav-item__text{
    font-size: 15px;
    margin-top: 10px;
}
.nav-burger{
    font-size: 20px;
    margin-bottom: 20px;
}
.chat-list{
    width: 35%;
    margin-left: 10px;
    position: relative;
    min-width: 370px;
}
.search{
    width: 100%;
    margin-top: 10px;
}
.search__input{
    width: 100%;
    background-color: $colorBlue;
    color: $messageText;
    padding: 5px 10px;
    box-sizing: border-box;
    border-color: transparent;
}
.search__input::-webkit-input-placeholder {
    color: $messageText;
}
.search__input:-moz-placeholder {
    color: $messageText;
   opacity:  1;
}
.search__input::-moz-placeholder {
    color: $messageText;
   opacity:  1;
}
.search__input:-ms-input-placeholder {
    color: $messageText;
}
.search__input::-ms-input-placeholder {
    color: $messageText;
}
.search__input::placeholder {
    color: $messageText;
}

.chat-items{
    display: flex;
    flex-direction: column;
    padding-left: 0;
}
.chat-item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 0;
}
.chat-item:hover{
    background-color: $bgColorHover;
}
.chat-item__image{
    height: 30px;
    border-radius: 50%;
}
.chat-item{
    display: flex;
    color: white;
    padding: 5px 5px;
    cursor: pointer;
}
.chat-item-active, .chat-item-active:hover{
    background-color: $messageLastMessage;
}
.chat-item-active .chat-description .chat-description__last-message, .chat-item-active .time-last-message{
    color: white;
}
.chat-item-active .time-last-message__count{
    background-color: #3e546a;
}
.chat-description{
    width: 90%;
    margin-left: 10px;
    box-sizing: border-box;
    height: 45px;
}
.chat-description__name{
    margin: 0;
}
.chat-description__last-message{
    margin-top: 5px;
}
.chat-description__last-message{
    color: $messageText;
}
.time-last-message{
    color: $messageText;
    text-align: right;
    text-align: -webkit-right;
    
}
.time-last-message__count{
    padding: 1px 6px;
    width: max-content;
    border-radius: 50%;
    color: white;
    background-color: #48a2f5;
    margin-top: 5px;
}
.window-message{
    width: 75%;
    background-color: $bgColorBlack;
    min-width: 625px;
}
.info-message{
    color: white;
    display: flex;
    justify-content: space-between;
    background-color: $bgColor;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
    box-sizing: border-box;
    border-left: 1px solid black;
    border-right: 1px solid black;
}
.info {
    transition: 0.5s;
}
.info-message-top__name{
    margin-bottom: 3px;
    margin-top: 3px;
    font-size: 16px;
}
.info-message-top{
    padding: 5px 0;
}
.info-message-top__online{
    font-size: 14px;
}
.info-message-icons{
    display: flex;
    width: 85px;
    justify-content: space-between;
}
.info-message-icons__icon{
    cursor: pointer;
    color: $messageText;
}
.info-message-icons__icon_rotate{
    transform: rotate(90deg);
}
.info-message-top__online{
    color: $messageText;
}
.window-message{
    position: relative;
}
.window-message__bottom{
    color: white;
    display: flex;
    justify-content: space-around;
    position: absolute;
    width: 100%;
    bottom: 0px;
    align-items: center;
    background-color: #17212b;
    min-height: 40px;
    height: fit-content;
    border-right: 1px solid black;
    border-left: 1px solid black;
    box-sizing: border-box;
}
.window-message-place{
    width: 80%;
    margin: 0;
    height: 28px;
}
.window-message-icons{
    width: 10%;
    display: flex;
    justify-content: space-around;
}
.window-message-icons__emoji, .window-message__icon{
    color: #7f91a4;
    cursor: pointer;
}
.window-message-place__input{
    background-color: #17212b;
    overflow: hidden;
    resize: none; 
    height: fit-content;
    height: 28px;
}
.window-message__chat{
    position: absolute;
    width: 100%;
    bottom: 65px;
    color: white;
    padding: 0 25px;
    box-sizing: border-box;
    overflow-y: scroll;
    max-height: 87%;
}

  .window-message__chat::-webkit-scrollbar {
    width: 3px;
    height: 10px;
  }
  .window-message__chat::-webkit-scrollbar-thumb {
    background: #7f91a4;
  }
  .window-message__chat::-webkit-scrollbar-track { 
    background: #0e1621;
  }
.user-chat{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-top: 25px;
}
.user-chat__message{
    position: relative;
    background-color:$colorBlue;
    padding: 10px 45px 10px 20px;
    border-radius: 10px;
    max-width: 350px;
    height: fit-content;
}
.my-chat{
    margin-top: 30px;
}
.my-chat__message{
    background-color:$messageLastMessage;
}
.user-chat:last-child {
    position: relative;
}
.user-chat:last-child::after{
    content: "";
    position: absolute;
    border: 10px solid transparent; 
    border-top: 18px solid $messageLastMessage;
    right: 1px;
    bottom: -20px;
}
.resize {
    position: absolute;
    top:0;
    right: 0;
    bottom: 0;
    width: 3px;
    background-color: $messageLastMessage;
    cursor: col-resize;
    opacity: 0;
    z-index: 1000;

    &:hover{
        opacity: 1 !important;
    }
}
.Menu, .shadow {
    position: absolute;
    top: 0;
    left: 0;
}
.shadow {
    width: 100vw;
    height: 100vh;
    background-color: black;
    opacity: 0.4;
}
.shadow-hide {
    display: none;
}
.navigation-fixed{
    position: fixed;
    top: 0;
    left: -300px;
    background-color: $bgColor;
    max-width: 250px;
    width: 100%;
    transition-duration: 450ms;
    height: 100vh;
    border: 1px solid black;
    z-index: 1100;
}
.nav-status{
    display: flex;
    flex-direction: column;
    padding: 10px;
    border-bottom: 1px solid black;
}
.nav-status__img img{
    width: 50px;
    border-radius: 50%;
}

.nav-status-info__name{
    color: white;
}


.nav-item__active {
    color: #48a2f5;
    background-color: $bgColorHover;
}
.nav-fixed-items {
    list-style: none;
    padding-left: 15px;
    cursor: pointer;
}
.nav-fixed-item{
    display: flex;
    align-items: center;
}
.nav-fixed-item__icon{
    margin-right: 15px;
    height: 15px;
    text-align: center;
    width: 16px;
}
.nav-fixed-item__icon:hover {
    color: white;
    opacity: .6;
}
.nav-fixed-item__header{
    color: white;
    font-weight: 100;
}
.nav-item__active .nav-item__icon{
    color: #48a2f5;
}
.nav-fixed-item__icon{
    border: 1px solid black;
    padding: 10px;
    border-radius: 5px;
    background-color: #48a2f5;
}
.switch-btn {
    display: inline-block;
    width: 35px; 
    height: 17px;
    border-radius: 12px;
    background: #bfbfbf;
    z-index: 0;
    margin: 0;
    padding: 0;
    border: none;
    cursor: pointer;
    position: relative;
    transition-duration: 300ms;
    margin-left: 25px;
    margin-top: 9px;
  }
  .switch-btn::after {
    content: "";
    height: 20px;
    width: 20px;
    border-radius: 18px;
    background: #fff;
    top: -2px;
    left: -5px;
    transition-duration: 300ms;
    box-shadow: 0 0 10px 0 #999999;
    position: absolute;
    z-index: 1;
  }
  .switch-on {
    background: #fff;
    box-shadow: inset 0 0 10px 0 #999999;
  }
  .switch-on::after {
    left: 20px;
    background: $messageLastMessage;
  }
  .section-none{
    width: 0px !important;
  }
  
  .user-chat__date {
    color: #7f91a4;
    font-size: 12px;
    position: absolute;
    bottom: 5px;
    right: 10px;
  }
  .my-chat__message .user-chat__date {
    color: white;
    opacity: .7;
    right: 6px;
  }
  .form {
    width: 300px;
    padding: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #191919;
    text-align: center;
    
  }
  .form__head {
    color: white;
    text-transform: uppercase;
    font-weight: 500;
  }
  .form__input {
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #3498db;
    padding: 14px 10px;
    width: 200px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.3s;
  }
  .form__input:focus {
    width: 280px;
    border-color: #2ecc71;
  }
  
  .form__button {
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #3498db;
    padding: 14px 10px;
    outline: none;
    color: white;
    border-radius: 24px;
    cursor: pointer;
  }
  .form__button:hover {
    background-color: #2ecc71;
  }

  .update-tool {
    position: absolute;
    width: 100%;
    max-width: 350px;
    border-radius: 10px;
    left: 50%;
    top: 23%;
    background-color: #17212b;
    box-sizing: border-box;
  }
  .over-tool{
    display: flex;
    flex-direction: column;
    margin-top: 10px;
  }
  .close-tool{
    display: flex;
    padding: 10px 15px;
    justify-content: space-between;
  }
  .close-tool__head {
    color: white;
    font-weight: 500;
  }
  .close-tool__btn i{
    color: white;
    cursor: pointer;
  }
  .over-logo{
    text-align: center;
    margin-top: 20px;
    background-color: $bgColorHover;
    padding: 15px 15px;
  }
  .over-logo__text{
    font-size: 12px;
  }
  .over-logo__img {
    height: 75px;
    width: 75px;
  }
  .under-tool{
    padding: 0px 15px;
  }

  .tool-directions{
    display: flex;
    flex-direction: column;
  }
  .tool-direction{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .under-tool__head{
    font-size: 14px;
  }
  .tool-direction__icon {
    color: #3498db;
  }
  .tool-direction-info {
    color: white;
  }
  .tool-direction-info__head{
    margin-bottom: 5px;
  }
  .tool-direction-info__count{
    font-size: 11px;
  }

  .update-toollbar{
    display: none; 
    opacity: 0;
  }
  .tool-direction__icon_delete i{
    color: white;
    cursor: pointer;
    opacity: 0.5;
  }
